* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgb(235, 235, 235);
    background: linear-gradient(to bottom left, rgb(165, 165, 165), rgb(235, 235, 235) 15%);
    font-size: 14px;
    height: 100%;    
}

.editItem,
.deleteItem {
    float: right;
    color: rgb(225, 170, 170);
    font-weight: 900;
    margin-right: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 55px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 1px;
    font-size: 10px;
    height: 23px;
    width: 23px;
    text-align: center;
    font-size: 18px;
}

.deleteItem:hover {
    background-color: rgb(200, 200, 200);
}

.editForm {
    display: inline-block;
}

#curtain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.pasteContent {
    margin-top: 100px;
    position: fixed;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    color: black;
    padding-left: 10px;
    padding-bottom: 5px;
}

#pasteArea {
    display: block;
    width: 675px;
    height: 300px;
}

#footer {
    position: relative;
    margin-top: -20px;
    height: 20px;
    clear: both;
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.5), rgba(200, 200, 200, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
}

#footer > span {
    font-style: italic;
    display: inline-block;
    padding-left: 15px;
    padding-top: 3px;
}

.removeFooter {
    float: none;
    margin-left: 5px;
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    color: rgb(235, 110, 110);
}
