* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(235, 235, 235);
  background: linear-gradient(to bottom left, rgb(165, 165, 165), rgb(235, 235, 235) 15%);
  font-size: 14px;
  height: 100%;
}
